@import "./Raleway";

$bg: #bd5;

$a: 20px;
$item: 10 * $a;
$full-item: 11 * $a;
$gutter: $a * .5;



.hidden {
	height: 0;
	visibility: hidden;
}

.a {
	width: $a;
	@extend .hidden;
}

.item {
	width: $item;
	@extend .hidden;
}

.gutter {
	width: $gutter;
	@extend .hidden;
}

@function size($n) {
	@return $n * $full-item - 2 * $gutter;
}

.grid {
	font-family: "Raleway";
	position: absolute;
	right: 0; left: 0;
	margin: auto;
	width: 95%;//5 * $full-item;
	background-color: #fba;
	padding: $gutter;
}
.grid-item {
	background: $bg;
	margin: $gutter;
}

.medium {
	height: $item;
	width: $item;
}

.large {
	width: size(2);
	height: size(2); 
} 

.tall {
	width: size(2);
	height: size(3);
}

.card {
	width: size(2);
	height: size(1.6);
}

.wide {
	width: size(2);
	height: size(1);
}

.focus {
	background-color: white;
}

.text {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	text-align: center;
	padding: $a * 2;
	font-size: $a * .75;
}